services:
  qolbi-app:
    build: .
    container_name: qolbi-app
    restart: always
    networks:
      - web-network
    expose:
      - "5173"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: "0.5"

networks:
  web-network:
    external: true
