@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .animate-bounce-subtle {
    animation: bounce-subtle 2s infinite;
  }

  @keyframes bounce-subtle {
    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .bg-islamic {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0l3.09 9.51h10.01l-8.09 5.88 3.09 9.51-8.1-5.88-8.09 5.88 3.09-9.51-8.09-5.88h10.01L30 0z' fill='%2310b981' fill-opacity='0.05'/%3E%3C/svg%3E");
  }

  .bg-islamic-dark {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0l3.09 9.51h10.01l-8.09 5.88 3.09 9.51-8.1-5.88-8.09 5.88 3.09-9.51-8.09-5.88h10.01L30 0z' fill='%23ffffff' fill-opacity='0.03'/%3E%3C/svg%3E");
  }
}
